@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

a {
	text-decoration: none;
	color: #000000;
	cursor: pointer;
}

nav {
	width: 300px;
	height: 900px;
	float: left;
	position: fixed;
}

nav #logo {
	font-size: 25px;
	margin-left: 35px;
	margin-top: 35px;
}

nav li {
	list-style-type: none;
	font-size: 13px;
}

nav>ul>li { /* 메뉴목록 */
	height: 25px;
}

nav .menu { /* 하위메뉴 ul */
	padding-left: 15px;
	margin-top: 15px;
	display: none;
}

nav .menu li { /* 하위메뉴 */
	height: 20px;
}

#right {
	height: 900px;
	float: left;
	margin-left: 300px;
}

section {
	width: 1100px;
	/* background: blue; */
}

.index_section {
	height: 900px;
	background-image: url("../main/img/main.jpg");
	background-attachment: fixed;	
}

.login_section {
	width: 400px;
	height: 900px;
	margin: auto;
	margin-top: 100px;
}

.login_section #first {
	text-align: center;
	width: 360px;
	height: 150px;
}

.login_section #userid {
	width: 250px;
	height: 30px;
	border: 1px solid #cccccc;
	display: flex;
	align-item: center;
	font-size: 12px;
	color: #cccccc;
	padding-left: 8px;
}

.login_section #pwd {
	width: 250px;
	height: 30px;
	border: 1px solid #cccccc;	
	display: flex;
	align-item: center;
	font-size: 12px;
	color: #cccccc;
	margin-top: 5px;
	padding-left: 8px;
}

.login_section #uid {
	width: 150px;
	height: 20px;
	margin-left:20px;
	border: none;
}

.login_section #pw {
	width: 150px;
	height: 20px;
	margin-left: 8px;
	border: none;
}

.login_section #outer {
	width: 400px;
	height: 80px;
}

.login_section #outer_left {
	float: left;
}

.login_section #outer_right {
	margin-left: 10px;
	float: left;
}

.login_section #login {
	width: 100px;
	height: 70px;
	background: #000000;
	border: 1px solid #000000;
	color: #ffffff;
	font-weight: 900;
	cursor: pointer;
}

.login_section #third {
	font-size: 12px;
	width: 400px;
	height: 30px;
}

.login_section #fourth {
	font-size: 12px;
	width: 400px;
	height: 30px;
}

.login_section #fifth {
	width: 400px;
	margin-top: 20px;
}

.login_section #fifth span {
	display: inline-block;
	width: 105px;
	height: 25px;
	border: none;
	border-radius: 6px;
	color: #ffffff;
	font-size: 12px;
	padding-left: 13px;
	padding-top: 15px;
}

.login_section #fifth span:nth-child(1) {
	background: #00c63d;
}

.login_section #fifth span:nth-child(2) {
	background: #536fac;
}

.login_section #fifth span:nth-child(3) {
	background: #fdeb1d;
}

.login_section #sixth {
	width: 360px;
	height: 60px;
	margin-top: 30px;
	padding-top: 20px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}

.login_section #sixth #sixth_left {
	float: left;
	font-size: 12px;
}

.login_section #sixth #sixth_right {
	float: right;
}

.login_section #sixth #sixth_right #mem_join {
	width: 90px;
	height: 25px;
	font-weight: 900;
	color: #ffffff;
	background: #000000;
	border: 1px solid #000000;
}

.login_section #sixth #sixth_right #mem_join a{
	font-weight: 600;
	color: #ffffff;
}

.login_section #seventh {
	margin-top: 25px;
	width: 360px;
}

.login_section #seventh div {
	font-size: 12px;
	height: 30px;
}

.login_section #seventh div:nth-child(1) {
	text-align: center;
	font-size: 14px;
	font-weight: 900;
}

.login_section #seventh div:nth-child(6) {
	text-align: right;
	margin-top: 20px;
}

.login_section #seventh .un_mem1 {
	width: 180px;
	height: 18px;
	border: 1px solid #d9d9d9;
}

.login_section #seventh .un_mem2 {
	width: 84px;
	height: 18px;
	border: 1px solid #d9d9d9;
}

.login_section #seventh .un_mem3 {
	width: 70px;
	height: 25px;
	background: #ffffff;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
}

.login_section #seventh #un_mem1 {
	margin-left: 74px;
}

.login_section #seventh #un_mem2 {	
	margin-left: 74px;
}

.login_section #seventh #un_mem3 {
	margin-left: 13px;
	
}

.member_section {
	width: 1100px;
	margin-top: 100px;
}

.member_section td {
	height: 30px;
	border: 1px solid #dfdfdf;
	font-size: 12px;
}

.member_section .td1 {
	width: 150px;
	padding-left: 10px;
	background: #fbfafa; 
}

.member_section .in1 {
	border: 1px solid #dfdfdf;
	width: 280px;
	height: 20px;
}

.member_section .in2 {
	border: 1px solid #dfdfdf;
	width: 100px;
	height: 20px;
}

.member_section .in3 {
	border: 1px solid #dfdfdf;
	width: 200px;
	height: 20px;
}

.member_section select {
	border: 1px solid #dfdfdf;
	height: 23px;
}

.member_section #in_div {
	width: 800px;
	height: 25px;
	margin-top: 50px;
	margin-bottm: 10px;
}

.member_section #tb_left {
	float: left;
	font-weight: 900;
}

.member_section #tb_right {
	float: right;
	font-size: 12px;
}

.member_section .zip {
	border: 1px solid #dfdfdf;
	background: #fbfafa;
	height: 24px;
	margin-left: 5px;
}

.member_section .birth1 {
	width: 70px;
	height: 20px;
	border: 1px solid #dfdfdf;
}

.member_section .birth2 {
	width: 35px;
	height: 20px;
	border: 1px solid #dfdfdf;
}

.member_section textarea {
	margin-left: 20px;
	padding-left: 10px;
	padding-top: 20px;
}

.member_section .top {
	font-weight: 900;
	margin-top: 50px;
	margin-bottom: 20px;
}

.member_section #mem_submit {
	width: 140px;
	height: 40px;
	margin-top: 20px;
	font-weight: 900;
	color: #ffffff;
	background: #000000;
	border: 1px solid #000000;
}

.id_search_section {
	width: 1100px;
	margin-top:100px;	
	margin:auto;     
}

.id_search_section #idsearch {
	width: 1100px;
	margin-top:50px;
	text-align: center;
	font-size: 14px;
	letter-spacing: 2px;
	font-weight: 500;
}

.id_search_section #idsearch_sub {
	width: 1100px;
	text-align:left;
	font-size: 12px;
	line-height: 14px;
	color: #353535;
}

.id_search_section #search_main {
	width: 1100px;
	height: 300px;
	border: 1px solid #d7d5d5;
    margin-top:100px;
}

.id_search_section #search_main #sub {
    width: 300px;
    height: 40px;
    font-size: 12px;
}
.id_search_section #search_main #sub:first-child {
	margin-top:30px;
	font-size:18px;
	font-weight:900;
}
.id_search_section #search_main #sub #aa {
	float:left;
	margin-top:4px;
}
.id_search_section #search_main #sub #bb {
	float:right;
	width: 200px;
	height: 30px;
}

.id_search_section #search_main #sub .mem_type {
	width: 177px;
	height: 24px;
	border:1px solid #cccccc;
}

.id_search_section #search_main #sub #idsearch_submit {
	width:100px;
	height:40px;
	background:#0a0a0a;
	border:none;
	color:white;
	border-radius:4px;
	font-size:16px;
	margin-top: 7px;
	text-align: center;
}

.list_section {
	font-size: 12px;
}

.content_section {
	width: 1100px;
	height: 1000px;
}

.content_section .first {
	width: 1100px;
	height: 550px;
	margin-top: 70px;
}

.content_section .first #left {
	float: left;
	width: 500px;
}

.content_section .first #right {
	float: right;
	width: 400px;
	font-size: 12px;
	margin-left: 0px;
}

.content_section .second {
	clear: both;
}

#cart_layer {
	position: absolute;
	left: 700px;
	top: 400px;
	background: white;
	display: none;
} 

#wish_layer {
	position: absolute;
	left: 700px;
	top: 400px;
	background: white;
	display: none;
}

.myinfo_section {
	width: 1100px;
}

.myinfo_section #second li {
	display: inline-block;
}

.myinfo_section #third li {
	display: inline-block;
}

.mydelivery_section {
	width: 1100px;
}

.mydelivery_section #third ul {
	display: inline-block;
}

.mydelivery_section #third ul li {
	display: inline-block;
	border: 1px solid #cccccc;
	margin-left: -5px;
}

footer {
	width: 1100px;
	height: 350px;
	margin-top: 50px;
	font-size: 12px
}

footer li {
	list-style-type: none;
	margin-left: 10px;
	height: 25px;
	float: left;
}

footer .footer_main {
	clear: both;
}
